<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Jesse Eugene Russell</string>
		<string>http://blackinhistory.tumblr.com/post/76170627429/jesse-eugene-russell#.VHJGr4njnqM</string>
	</array>
	<array>
		<string>Walter Lincoln Hawkins</string>
		<string>http://blackinhistory.tumblr.com/post/75746772514/walter-lincoln-hawkins#.VHJG4InjnqM</string>
	</array>
	<array>
		<string>Henry Sampson</string>
		<string>http://blackinhistory.tumblr.com/post/64725745775/henry-sampson#.VHJG-onjnqM</string>
	</array>
	<array>
		<string>Andrew Jackson Beard</string>
		<string>http://blackinhistory.tumblr.com/post/59439357890/andrew-jackson-beard#.VHJHFonjnqM</string>
	</array>
	<array>
		<string>Joseph Lee</string>
		<string>http://blackinhistory.tumblr.com/post/56190041195/joseph-lee#.VHJI0YnjnqM</string>
	</array>
	<array>
		<string>David Nelson Crosthwait, Jr.</string>
		<string>http://blackinhistory.tumblr.com/post/54954832634/david-nelson-crosthwait-jr#.VHJI0InjnqM</string>
	</array>
	<array>
		<string>Shirley Ann Jackson</string>
		<string>http://blackinhistory.tumblr.com/post/54633710719/shirley-ann-jackson#.VHJI3InjnqM</string>
	</array>
	<array>
		<string>Annie Easley</string>
		<string>http://blackinhistory.tumblr.com/post/52338249716/annie-easley#.VHJIy4njnqM</string>
	</array>
	<array>
		<string>Bessie Blount Griffin</string>
		<string>http://blackinhistory.tumblr.com/post/51761929195/bessie-blount-griffin#.VHJIronjnqM</string>
	</array>
	<array>
		<string>Meredith Gourdine</string>
		<string>http://blackinhistory.tumblr.com/post/50946769726/meredith-gourdine#.VHJIr4njnqM</string>
	</array>
</array>
</plist>
